name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # 确保部署目录存在
          mkdir -p /mnt/toolbox
          
          # 进入部署目录
          cd /mnt/toolbox
          
          # 清除旧文件
          rm -rf *
          
          # 复制新文件到服务器
          git clone https://github.com/SKingMan/ToolsBox.git .
          
          # 检查部署状态
          ls -la
          
          echo "Deploy completed successfully!"
